name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 3 * * 2'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        args:
          - '"+noboxJVM/test"'
          - '"+noboxJS/test"'
          - '"+noboxNative/test"'
        java:
          - 8
          - 25
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: "${{ matrix.java }}"
        distribution: zulu
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v8
    - run: sbt
           -v
           -J-Xss10m
           scalafmtSbtCheck
           "+ scalafmtCheckAll"
           "generator/scalafmtCheckAll"
           ${{ matrix.args }}
